<!DOCTYPE html>
<html lang="en">
  <%- include(`../partials/head.ejs`);%>
<body>
  <header>
    <h1>Show Page for <%= shesha.name %></h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/sheshas">Shesha Index</a>
        </li>
      </ul>
      <ul>
        <li>
          Description: <%= shesha.description %> <br>
          Flavor: <%= shesha.flavor %> <br>
        </li>
        </ul>
    </nav>
  </header>
  <a href="/sheshas/<%= shesha._id %>/edit">Edit Shesha</a>
  <form action="/sheshas/<%= shesha._id %>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE" />
  </form>
</body>
</html>