<!DOCTYPE html>
<html lang="en">
  <%- include(`../partials/head.ejs`);%>

  <title>Show Shesha</title>
<body>

  <nav>
    <ul  class="navLinks2">
    <li><a href="/">Home</a></li>
  
    <li><a href="/sheshas">Back To Shesha</a></li>
  </ul>
  </nav>

  <div>
    <h1><strong class="shortTitle"> <%= shesha.name %></strong></h1>
  </div>

        <div class="showPage">
         <strong>Description:</strong><%= shesha.description %> <br>
          <strong>Flavor:</strong> <%= shesha.flavor %> <br>
        </strong>Price:</strong>$ <%= shesha.price %> <br class="img2">
        </div>

        <img src= <%= shesha.img %> class="img4">

  <div>
  <a href="/sheshas/<%= shesha._id %>/edit" class="card4">Edit Shesha</a>
  <form action="/sheshas/<%= shesha._id %>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE" class= "card4"/>
  </form>
</div>

</body>
</html>