<!DOCTYPE html>
<html lang="en">
  <%- include(`../partials/head.ejs`);%>

  <title>Show Hookah</title>
<body>

  <nav>
    <ul  class="navLinks2">
    <li><a href="/">Home</a></li>
  
    <li><a href="/hookahs">Back To Hookahs</a></li>
  </ul>
  </nav>

  <div>
    <h1><strong class="shortTitle"> <%= hookah.name %></strong></h1>
  </div>

        <div class="showPage">
         <strong>Description:</strong><%= hookah.description %> <br>
        </strong>Price:</strong>$ <%= hookah.price %> <br>
        </div>

        <img src= <%= hookah.img %> class="img2">

  <div>
  <a href="/hookahs/<%= hookah._id %>/edit" class="card4">Edit Hookah</a>
  <form action="/hookahs/<%= hookah._id %>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE" class= "card4"/>
  </form>
</div>

</body>
</html>