<!DOCTYPE html>
<html lang="en">
  <%- include(`../partials/head.ejs`);%>
<body>
    <h1>Edit Juice</h1>

    <nav>
      <a href="/">Home</a><br>
  </nav>

        <form action="/juices/<%= juice._id %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%= juice.name %>"/><br />
        Description: <input type="text" name="description" value="<%= juice.description %>"/><br />
        Flavor: <input type="text" name="flavor" value="<%= juice.flavor %>"/><br />
        Price: <input type="number" name="price" value="<%= juice.price %>"/><br />
        Qty: <input type="number" name="qty" value="<%= juice.qty %>"/><br />
        <input type="submit" name="" value="Update Juices" />
        </form>

        <nav>
            <a href="/juices">Back To Juices</a>
        </nav>


</body>
</html>