<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Page</title>
</head>
<body>
  <header>
    <h1>Show Page for <%= juice.name %></h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/juices">Juice Index</a>
        </li>
      </ul>
      
          Description: <%= juice.description %> 
        
          Flavor: <%= juice.flavor %> 
        
    </nav>
  </header>
  <a href="/juices/<%= juice._id %>/edit">Edit Juice</a>
  <form action="/juices/<%= juice._id %>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE" />
  </form>
</body>
</html>